<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Test</title>

  <!-- This is a development version of Vue.js! -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
</head>

<body>
  <!-- Basic usage -->

  <div id="app">
    <h1>{{titulo}}</h1>

    <input type="text" v-model="newCar" @keyup.enter="addCar">
    <!-- <button v-on:    click="addCar">Add Car</button>-->
    <button @click="addCar">Add Car</button>

    <ul>
      <li v-for="car of cars">
        <input type="number" v-model.number="car.stock">
        {{car.name}} - {{car.fuel}}
        <span v-if="car.stock == 0"> - Without stock</span>
        <button @click="car.stock++">+</button>
      </li>
    </ul>
    <h4>Total: {{addNumberOfCars}}</h4>

  </div>

  <script src="../js/01.js"></script>


</body>

</html>