<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- This is a development version of Vue.js! -->
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
</head>

<body>
  <div id="app" class="container">
    <number></number>
  </div>

  <script>

    Vue.component('number',
      {
        template: //html
          `
            <div>
              <h2>Number padre {{ number}}</h2>
              <numberChild></numberChild>
              <ul v-for="course of courses">
                <li>{{course.name}}</li>
              </ul>
            </div>
          `,
        computed: {
          number() {
            return store.state.number // we dont use the $ simbol
          },
          ...Vuex.mapState(['number', 'courses'])
        }
      }
    );


    Vue.component('numberChild',
      {
        template: //html
          `
            <div>
              <h2>Number hijo {{ number}}</h2>
              <button @click="increase">+</button>
              <button @click="decrease(2)">-</button>
              <button @click="obtainCourses">Show courses</button>
              <ul v-if="courses !== []">
                <li></li>
              </ul>
            </div>
          `,
        computed: {
          ...Vuex.mapState(['number', 'courses'])
        },
        methods: {
          ...Vuex.mapMutations(['increase', 'decrease']),
          ...Vuex.mapActions(['obtainCourses'])
        }
      }
    );

    const store = new Vuex.Store({
      state: {
        number: 10,
        courses: []
      },
      mutations: {
        increase() {
          this.state.number++
        },
        decrease(state, n) { // i dont know why but if I put  decrease(n) it does not work
          state.number = this.state.number - n
        },
        filledCourses(state, actionCourses) {
          state.courses = actionCourses
        }
        /* increase(state) {
           state.number++
         }*/
      },
      actions: {
        obtainCourses: async function ({ commit }) {
          const data = await fetch('courses.json');
          const courses = await data.json();
          commit('filledCourses', courses);
        }
      }

    })

    new Vue({
      el: '#app',
      data: {
        title: 'testing vuex'
      },
      store: store // you can only put only store instead of store:store
    })


  </script>
</body>

</html>